@font-face {
    font-family: 'vazir';
    src: url(../font/Vazir-Medium.ttf) format(truetype);
}

body {
  font-family: 'vazir', sans-serif ;
  font-size: 18px;
  }

  a {
    text-decoration: none;
    color: #000;
  }