@font-face {
    font-family: 'vazir-md';
    src: url(../font/Vazir-Medium.ttf) format(truetype);
}

@font-face {
    font-family: 'vazir-light';
    src: url(../font/Vazirmatn-Light.ttf) format(truetype);
}
@font-face {
    font-family: 'vazir-reg';
    src: url(../font/Vazirmatn-Regular.ttf) format(truetype);
}