@use 'sass:math';

$utilities:(
      'font-family':(
        'prefix':'ff',
        'values':(
            'medium': $ff-medium,
            'reg': $ff-reg,
            'light': $ff-light,
        )
    ),

  'padding':(
    'prefix': 'p',
    'values':(
      '1': $base-padding,
      '2': $base-padding * 2,
      '3': $base-padding * 3,
      '4': $base-padding * 4,
      '5': $base-padding * 5,
    )
  ),

  'padding-top':(
    'prefix': 'pt',
    'values':(
      '1': $base-padding,
      '2': $base-padding * 2,
      '3': $base-padding * 3,
      '4': $base-padding * 4,
      '5': $base-padding * 5,
    )
  ),

  'padding-bottom':(
    'prefix': 'pb',
    'values':(
      '1': $base-padding,
      '2': $base-padding * 2,
      '3': $base-padding * 3,
      '4': $base-padding * 4,
      '5': $base-padding * 5,
    )
  ),
  'padding-left':(
    'prefix': 'pl',
    'values':(
      '1': $base-padding,
      '2': $base-padding * 2,
      '3': $base-padding * 3,
      '4': $base-padding * 4,
      '5': $base-padding * 5,
    )
  ),
  'padding-right':(
    'prefix': 'pr',
    'values':(
      '1': $base-padding,
      '2': $base-padding * 2,
      '3': $base-padding * 3,
      '4': $base-padding * 4,
      '5': $base-padding * 5,
    )
  ),

      
  'margin':(
    'prefix': 'm',
    'values':(
      '1': $base-padding,
      '2': $base-padding * 2,
      '3': $base-padding * 3,
      '4': $base-padding * 4,
      '5': $base-padding * 5,
    )

  ),
  'margin-top':(
    'prefix': 'mt',
    'values':(
      '1': $base-padding,
      '2': $base-padding * 2,
      '3': $base-padding * 3,
      '4': $base-padding * 4,
      '5': $base-padding * 5,
    )
  ),
  'margin-bottom':(
    'prefix': 'mb',
    'values':(
      '1': $base-padding,
      '2': $base-padding * 2,
      '3': $base-padding * 3,
      '4': $base-padding * 4,
      '5': $base-padding * 5,
    )
  ),
  'margin-left':(
    'prefix': 'ml',
    'values':(
      '1': $base-padding,
      '2': $base-padding * 2,
      '3': $base-padding * 3,
      '4': $base-padding * 4,
      '5': $base-padding * 5,
    )
  ),
  'margin-right':(
    'prefix': 'mr',
    'values':(
      '1': $base-padding,
      '2': $base-padding * 2,
      '3': $base-padding * 3,
      '4': $base-padding * 4,
      '5': $base-padding * 5,
    )
  ),
 );

@each $proprty, $map in $utilities {
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");
  
    @each $key, $val in $values {
      @if ($key == "default") {
        .#{$prefix} {
          #{$proprty}: $val;
        }
      } @else {
        .#{$prefix}-#{$key} {
          #{$proprty}: $val;
        }
      }
    }
  }
  