// bg colors

$bg_colors: (
    'orange': #ff7400 ,
    'blue': blue,
    'violet':violet,
    'green':green,
    'red':red,
    'white': #fff,
    'prymary': #464749,
    'secondary': #6c757d,
    'footer-p': #353338,
    'footer-s': #312f34,
);

// fonts
$ff-medium: 'vazir-md';
$ff-reg: 'vazir-reg';
$ff-light: 'vazir-light';

//  margin and padding
$base-padding: 0.75rem;
$base-margin: 0.75rem;